
export PROJECT_DIR=$(dirname $(find_up .projectroot))
export TOPLEVEL_PROJECT_DIR=$PROJECT_DIR
export SINGULARITYENV_PROJECT_DIR=$PROJECT_DIR
export SINGULARITYENV_TOPLEVEL_PROJECT_DIR=$TOPLEVEL_PROJECT_DIR
